<cooperatives>
    <div th:if="${ not#lists.isEmpty(cooperatives)}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>VAT Number</th>
                <th>Status</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cooperative : ${cooperatives}">
                <td th:text="${cooperative.name}"></td>
                <td th:text="${cooperative.vat}"></td>
                <td th:text="${cooperative.status}"></td>
                <td th:text="${cooperative.notes}"></td>
                <td th:if="${cooperative.id}"><a class="btn btn-info" th:href="@{/cooperative/{id}(id=${cooperative.id})}">Edit</a>
                    <button type="button" class="btn btn-danger" th:id="${cooperative.id}"
                            name="deleteCooperative"><i class="remove user icon"></i>
                        Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(cooperatives)}">
        No Cooperatives found!
    </div>
    <a href="/cooperative/new" class="btn btn-primary" role="button">Create new Cooperative</a>
    <script type="text/javascript">
        $("[name='deleteCooperative']").click(function() {
            var urlCall = "/cooperative/";
            $.ajax({
                url : urlCall + $(this).attr('id'),
                type : 'DELETE',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/cooperative");
                },
                error : function(result) {
                    console.log(result);S
                },
            });
        });
    </script>
</cooperatives>