/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* layout */
:root {
  --green: #42b682;
  --red: #e7195a;
  /* #f00000 */
  --blue: #027afc;
  --black: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f1f1f1;
  /* #efefef */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}