/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Inter";
}