@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  background: var(--white);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.card h4 {
  font-size: 20px;
  font-weight: 900;
  color: var(--green);
  padding-bottom: 10px;
}

.card p+p {
  margin-top: 4px;
  color: var(--dark-gray);
}

.card .icons {
  position: absolute;
  display: flex;
  top: 20px;
  right: 20px;
  gap: 10px;
}

.card i {
  cursor: pointer;
  color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}