@import './base.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--blue);
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    right: 27px;
    bottom: 20px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.card {
    background: var(--white);
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.card h4 {
    font-size: 20px;
    font-weight: 900;
    color: var(--green);
    padding-bottom: 10px;
}

.card p + p {
    margin-top: 4px;
    color: var(--dark-gray);
}

.card .icons {
    position: absolute;
    display: flex;
    top: 20px;
    right: 27px;
    gap: 10px;
}

.card .icons a {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

.card i {
    cursor: pointer;
    color: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.rect {
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    width: 7px;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--green);
}
