@import './base.css';

a {
    text-decoration: none;
    color: var(--black);
    transition: color 0.1s ease-out;
}

a:hover {
    color: var(--green);
}

h5 {
    font-size: 20px;
}

li {
    list-style: none;
}

header {
    background-color: var(--white);
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo a {
    margin-left: 12px;
    font-weight: bold;
    font-size: 20px;
}

header .logo img {
    width: 32px;
    height: 32px;
}

header ul {
    display: flex;
    gap: 40px;
}

header .auth a,
header button {
    color: var(--black);
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid var(--black);
    cursor: pointer;
    transition: all 0.1s ease-out;
    font-size: 1em;
}

header .auth a:hover,
header button:hover {
    background-color: var(--green);
    border-color: var(--green);
    color: #fff;
}

header button#menuButton {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

@media screen and (max-width: 992px) {
    header .auth {
        display: none;
    }

    header ul {
        gap: 20px;
    }

    header ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    header {
        justify-content: space-between;
        padding: 0 42px;
    }

    header ul {
        display: none;
    }

    header.open .logo {
        display: none;
    }

    header.open ul {
        display: flex;
    }

    header button#menuButton {
        display: flex;
    }
}

@media screen and (max-width: 576px) {
    header ul li a {
        font-size: 13px;
    }

    header .logo a {
        font-size: 18px;
    }
}
