@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--white);
  background-color: var(--green);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: 0.1s ease-out;
}

h1 {
  font-size: 24px;
  margin-left: 5px;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 741px;
  margin-top: 70px;
}

.content h1+div {
  margin-top: 10px;
}

.visually-hidden {
  display: none;
}

.loader {
  width: 50px;
  padding: 7px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--blue);
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}