<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>

<body>
<!-- Include the header fragment -->
<div th:insert="fragments/menu :: menu"></div>
<main>
    <!-- Content specific to this page -->
    <!-- Include the students fragment -->
    <div class="container" >
        <div th:replace="fragments/products :: products"></div>
    </div>
</main>

<!-- Include the footer fragment -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>