<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>

<body>
<!-- Include the header fragment -->
<div th:insert="fragments/menu :: menu"></div>
<main>
    <div class="container">
        <form name="myForm" id="myForm" action="#" th:action="@{/cooperative/{id}(id=${cooperative.id})}" th:object="${cooperative}"
              method="GET">
        </form>
    </div>
</main>

<!-- Include the footer fragment -->
<div th:replace="fragments/footer :: footer"></div>

<script>
    submitform();
    function submitform()
    {
        document.myForm.submit();
    }
</script>
</body>
</html>